<div id="nav">
	<ul>
		<li><a href="#" id="loginButton">Login</a></li>
		<li><a href="#" id="signupButton">Signup</a></li>
	</ul>
</div>
<h3>Portfoliator</h3>
<section id="content"></section>
<script src="/assets/loginBundle.js"></script>