<nav><a href="/login"><img id="logo" src="/assets/img/face.png" alt="face logo"/></a>
  <div class="navlink"><a id="loginButton" href="/login">Login</a></div>
  <div class="navlink"><a id="signupButton" href="/signup">Sign up</a></div>
</nav>
<section id="content"></section>
<div id="domoMessage">
  <img id="speech" src="/assets/img/speech.png" alt="speech box"/>
  <h3><span id="errorMessage">Wrong username or password</span></h3>
  <img id="domo" src="assets/img/domo.png" alt="domo"/>
</div>
<script src="/assets/loginBundle.js"></script>