html, body { margin:0; padding:0; } /* to remove the top and left whitespace */

html {
    width:100vw;
    overflow-x:hidden;
}

html, body { 
	height:100%; 
	background-color: white; 
} /* just to be sure these are full screen*/
body {
	text-align: center;
	font-family: Calibri, sans-serif;
}

.header{
	font-size: 5em;
	padding:10px;
	margin:10px;
}
.subheader{
	padding:10px;
	margin:10px;
}
h1 {
	text-shadow: .5px .5px 1px #444;	
}
h3 {	
	text-shadow: .5px .5px 1px #666;
}

.smallheader {
	font-size: 2em;
}
canvas{
	position:absolute;
	bottom: 0;
	right: 0;
	z-index: 1;
}
.page{
	z-index: 2;
	position:relative;
}
.error{
	color: red;
	position: fixed;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
}
#nav{
	background-color: #333;
    border:1px solid #333;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
#nav li {
    display:inline;
    font-size: 1.5em;
}
#nav ul {
	padding: 0;
}
#nav a{
    display:inline-block;
    padding:0 2vw;
}
/*@media only screen and (max-width: 600px) {
	.nav a {
		padding: 0 1vw;
	}
}*/

.mainForm {
    //height: 50%;
    width: 350px;
    margin: 0 auto;
    padding-top: 15%;
    font-size: 1.2em;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit, button {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 130px;
    background-color: grey;
    border-radius: 2px;
    border-color: #66acee;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active,
button:link, button:visited, button:hover, button:active {
    color: white;
}

.formSubmit:hover, button:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}

input {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 1px;
}

input:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

label {
	display: block;
}

textarea {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	resize: vertical;
}

button, input[type=submit] {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: none;
}

.innercolumn {
	margin:auto;
	padding: 0 5px;
	max-width: 600px;
}
@media only screen and (max-width: 600px) {
	.innercolumn{
		max-width: 100%;
	}
}
.item{
	padding-bottom: 40px;
}
p{
	text-align: left;
}
a{
	text-decoration: none;
	color: #AAA;
}
h3{
	font-size: 2em;
}
.current{
	color: #EEE;
}
/* Clear floats after the columns */
/*.row:after {
    content: "";
    display: table;
    clear: both;
}*/
.column{
	padding: 10px 0;
}
img{
	max-width:100%;
}